body {
  background-color: #dcdfed;
  opacity: 0;
  transition: opacity 3s;
  -webkit-trasition: opacity 3s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    font-family: 'Quicksand', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.button {
    background-color: #333;
    border: none;
    color: white;
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 70px;
    margin-top: 30px;
}

img {
  height: 500px;
  width: 700px;
  padding-bottom: 10px;
  padding-left: 15px;
}

#about {
  background-color: #FFF;
  border: none;
  padding: 50px 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 50px;
}

p {
  font-family: 'Quicksand', sans-serif;
}

.gifs {
  height: 350px;
  width: 550px;
  margin-left: 25px;
  margin-right: 25px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
