<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <title>In Tune - Contact</title>
    <link rel="stylesheet" href="style/main.css">
    <title></title>
  </head>
  <body onload="document.body.style.opacity='1'"
  style="opacity:0">
  <div>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/tips">Methods</a></li>
        <li><a href="#saved">Saved</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/gifs">Gifs</a></li>
      </ul>
    </div>
      <p> Thank you for your input! </p>
  </body>
</html>
