<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <title>In Tune - Contact</title>
    <link rel="stylesheet" href="style/main.css">
  </head>
  <body class="fade-in">

<div>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/tips">Methods</a></li>
      <li><a href="#saved">Saved</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/gifs">Gifs</a></li>
    </ul>
  </div>
    <br/>
    <div class="container">
  <form method= "POST">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name...">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name...">

    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email...">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="usa">USA</option>
      <option value="canada">Canada</option>
      <option value="UK">UK</option>
    </select>

    <label for="comments">Comments</label>
    <textarea id="comments" name="comments" placeholder="Write something..." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
  </body>
</html>
