<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <title>In Tune - Discussion</title>
    <link rel="stylesheet" href="style/main.css">
  </head>
  <body class="fade-in">
<div>
    <ul>
      <li><a class="active" href="/">In Tune</a></li>
      <li><a href="/tips">Methods</a></li>
      <li><a href="/saved">Saved</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/gifs">Gifs</a></li>
			<li><a href="/discussion">Discussion</a></li>
			<li><a href="/resources">Resources</a></li>
    </ul>
</div>
    <br>
{% if logged_in %}
		<center><h2>Discussion Board</h2></center>
<center class="yes">
	<h3>One of our recommended methods includes talking it out! This page allows our users to communicate with other users, recommend methods, and more! (Make sure to keep it clean please!)</h3>
<br><br>
	<a href="/discussion">Refresh Chat </a>
	<br><br>
		<form method = "POST">
	    <input name="comment" placeholder="Leave a message..."/><br/>
			<br>
	      <input type="submit" value="Submit">
	      <br><br>
	  {% for i in mostRecent %}
	    <p><h3>Message: {{i.comment}}</h3><br> Time posted: {{i.created}} user: {{i.email}}</p><br><br>
	  {% endfor %}
</center>

{% else %}
<p> Please sign in to access the Discussion Board. </p>
{% endif %}
		<footer><center><p>Team Name: Invalid Syntax</p></center></footer>
	</body>
</html>
