<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <title>In Tune - Discussion</title>
    <link rel="stylesheet" href="style/main.css">
  </head>
  <body class="fade-in">

<div>
    <ul>
      <li><a class="active" href="/">In Tune</a></li>
      <li><a href="/tips">Methods</a></li>
      <li><a href="/saved">Saved</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/gifs">Gifs</a></li>
			<li><a href="/discussion">Discussion</a></li>
    </ul>
  </div>
    <br>
	<a href="http://pub49.bravenet.com/forum/4192309487/">View the Discussion Board</a><br>
<footer><center><p>Team Name: Invalid Syntax</p></center></footer>
	</body>
</html>
