<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <title>In Tune - Gifs</title>
    <link rel="stylesheet" href="style/main.css">
  </head>
  <body class="fade-in">
  <div>
    <ul>
      <li><a class="active" href="/">In Tune</a></li>
      <li><a href="/tips">Methods</a></li>
      <li><a href="/saved">Saved</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/gifs">Gifs</a></li>
      <li><a href="/discussion">Discussion</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
  </div>
  <br><br>

  <center><h2>Calming Gifs</h2></center>

<center>
<form method="get" class="menu">
<label for "menu" class="font">More Gifs!</label>
<br><br>
<select id="menu" name="menu">
  <option value="soothing">Soothing</option>
  <option value="Satisfying">Satisfying</option>
  <option value="Relax">Relax</option>
</select>
<br>
<input type="submit" value="Submit">
</form>
</center>

  <!-- <center><div class="dropdown">
    <button class="dropbtn">More Gifs</button>

    <div class="dropdown-content">

      <a href="#">Satisfying</a>

      <a href="#">Gif page 2</a>

      <a href="#">Gif page 3</a>

    </div>

  </div></center> -->

  <br><br>

    {% for url in gif_urls %}
    <center><img class=gifs src= "{{url}}"/></center>
    {% endfor %}
    <footer><center><p>Team Name: Invalid Syntax</p></center></footer>
  </body>
</html>
