<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <title>In Tune - Home</title>
    <link rel="stylesheet" href="style/main.css">
  </head>
  <body class="fade-in" class="background">
  <div>
  <div>
    <ul>
      <li><a href="/tips">Methods</a></li>
      <li><a href="/saved">Saved</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/gifs">Gifs</a></li>
      <li><a href="/discussion">Discussion</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
  </div>
  <br>

  <div class="container">
    <center>
      <img class="clouds" src="https://media3.giphy.com/media/qq5gwamAHVofm/200_d.gif" style="width:100%; height:700px;">
    </center>

      {% if signin_page_url %}
    <a class="centered" href="{{signin_page_url}}"><button class="button">Login</button><a>
      {% else %}
    <a class="centered" href="{{signout_page_url}}"><button class="button">Sign Out</button><a>
      {% endif %}

  <center>

      <div class="top-middle"><center><h1>In Tune</h1></center></div>

  </div>
<br><br>
      <div id="about">
        <h2>About</h2>
        <p>
          This site is a place you can go to in times of need. We are hope
          to be a place people can go for some relaxation and anxiety relief.
          Our recommended methods will help you find peace in tough situations.
          Our users will be able to save our methods and come back to them.
          There is also a comment section where users can communicate with people
          like them and recommend methods to each other. Please leave us any
          feedback on our contact page and we will get back to you as soon as possible.
          For now, please enjoy our web page and click through our features.
        </p>
      </div>
    </center>
    <footer><center><p>Team Name: Invalid Syntax</p></center></footer>
  </div>
  </body>
</html>
