<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Raleway" rel="stylesheet">
    <meta charset="utf-8">
    <title>OM</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#methods">Methods</a>
      <li><a href="#saved">Saved</a>
      <li><a href="#contact">Contact</a>
      <li><a href="#music">Music</a>
      <li><a href="#calm">Calm</a>
    </ul>
    <center><h1>title</h1></center>
    <center>
<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736881__340.jpg">
<div id="about">
<h2>About Us</h2>
<p></p>
<h2>What you can do</h2>
<p></p>
</div>
</center>

<center><button class="button">Login</button></center>


    <!-- login, sign up
    about
    what you can do -->
  </body>
</html>
