<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OM</title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#methods">Methods</a>
      <li><a href="#saved">Saved</a>
      <li><a href="#about">About</a>
      <li><a href="#contact">Contact</a>
      <li><a href="#music">Music</a>
      <li><a href="#calm">Calm</a>
    </ul>
    <h1>OM</h1>
    <!-- login, sign up
    about
    what you can do -->
  </body>
</html>
