<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <meta charset="utf-8">
    <title>In Tune - Music</title>
    <link rel="stylesheet" href="style/main.css">
  </head>
  <body class="fade-in">
  <div>
    <ul>
      <li><a class="active" href="/">In Tune</a></li>
      <li><a href="/tips">Methods</a></li>
      <li><a href="/saved">Saved</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/gifs">Gifs</a></li>
      <li><a href="/discussion">Discussion</a></li>
    </ul>
  </div>
    <center><h2> Our recommended calming playlists: <h2></center>
<br><br>
    <center><iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX9uKNf5jGX6m" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed?uri=spotify:user:briancrain:playlist:7FptwH3aQD4quRBqfCffKy" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed?uri=spotify:user:meditationrelaxclub:playlist:5n6KR28MQyC9jzSSUEwptL" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<br><br>
    <center><h2> Our recommended calming podcasts: <h2></center>
    <iframe width="90%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/454775&color=%23e0d3cc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
<br><br>
    <iframe width="90%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/168153693&color=%23ecac6c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
<br><br>
    <iframe width="90%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/461493267&color=%236e5a50&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</center>
<footer><center><p>Team Name: Invalid Syntax</p></center></footer>
  </body>
</html>
