<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <title>In Tune - Saved</title>
    <link rel="stylesheet" href="style/main.css">
  </head>
<body class="fade-in">

<div>
    <ul>
      <li><a href="/tips">Methods</a></li>
      <li><a href="/saved">Saved</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/gifs">Gifs</a></li>
      <li><a class="active" href="/">In Tune</a></li>
      <li><a href="/discussion">Discussion</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
</div>

<center><h2>Other Resources!</h2></center>
<center>
<div class="yes">

  <p><a class="stuff" href="http://athingnamed.com/best-ted-talks-on-anxiety-stress-and-fear/">Ted Talks</a></p>
  <p><a class="stuff" href="https://adaa.org/tips">Anxiety and Depression Association of America</a></p>
  <p><a class="stuff" href="https://adaa.org/understanding-anxiety">Anxiety and Depression Association of America - Understanding Anxiety</a></p>
  <p><a class="stuff" href="https://psychcentral.com/disorders/anxiety/">Psych Central</a></p>
  <p><a class="stuff" href="https://www.medicalnewstoday.com/info/anxiety">Medical News Today</a></p>
  <p><a class="stuff" href="https://www.nimh.nih.gov/health/topics/anxiety-disorders/index.shtml">National Institute of Mental Health</a></p>
  <p><a class="stuff" href="https://www.anxiety.org/what-is-anxiety">Anxiety.org</a></p>
  <p><a class="stuff" href="http://marc.ucla.edu/mindful-meditations">UCLA Meditation</a></p>

</div>
</center>
</body>
</html>
