<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <title>In Tune - Saved</title>
    <link rel="stylesheet" href="style/main.css">
  </head>

  <body class="fade-in">

<div>
    <ul>
      <li><a href="/tips">Methods</a></li>
      <li><a href="/saved">Saved</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/gifs">Gifs</a></li>
      <li><a class="active" href="/">In Tune</a></li>
    </ul>
</div>

{% if searches|length == 0 %}
<p><b>Nothing is saved</b></p>
{% else %}
<ul>


  {% for each_method in recentcomments %}
  <p> <b>Saved Tips:</b> {{each_method.click1}} {{each_method.click2}} {{each_method.click3}} {{each_method.click4}} {{each_method.click5}} {{each_method.click6}} {{each_method.click7}}
    {{each_method.click8}} {{each_method.click9}} {{each_method.click10}} {{each_method.click11}} {{each_method.click12}} {{each_method.click13}} {{each_method.click14}} {{each_method.click15}}
    {{each_method.click16}} {{each_method.click17}} {{each_method.click18}}
</ul>
{% endif %}


  </body>
</html>
