<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <title>In Tune - Saved</title>
    <link rel="stylesheet" href="style/main.css">
  </head>

  <body class="fade-in">

<div>
    <ul>
      <li><a href="/tips">Methods</a></li>
      <li><a href="/saved">Saved</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/gifs">Gifs</a></li>
      <li><a class="active" href="/">In Tune</a></li>
      <li><a href="/discussion">Discussion</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
</div>
<br><br>
<center><h2>Saved Methods</h2></center>
<div class="method">
{% if not data %}
<p><b>Nothing is saved</b></p>
{% else %}

  <p> <b>Meditation:</b> {{data.click1}} <br> {{data.click2}} </p>
  <p> <b>Breathe Deeply:</b> {{data.click3}} <br> {{data.click4}} </p>
  <p> <b>Be Present:</b> {{data.click5}} </p>
  <p> <b>Reach Out:</b> {{data.click6}} </p>
  <p> <b>Tune In To Your Body:</b> {{data.click7}} </p>
  <p> <b>Decompress:</b> {{data.click8}} </p>
  <p> <b>Laugh Out Loud:</b> {{data.click9}} <br> {{data.click10}} </p>
  <p> <b>Listen To Music:</b> {{data.click11}} <br> {{data.click12}} <br> {{data.click13}} </p>
  <p> <b>Get Moving:</b> {{data.click14}} <br> {{data.click15}} </p>
  <p> <b>Be Grateful:</b> {{data.click16}} <br> {{data.click17}} </p>
  <p> <b>Five Senses Method:</b> {{data.click18}} </p>

</div>
{% endif %}

<footer><center><p>Team Name: Invalid Syntax</p></center></footer>
  </body>
</html>
