<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <title>In Tune - Contact</title>
    <link rel="stylesheet" href="style/main.css">
  </head>
  <body class="fade-in">
  <div>
      <ul>
        <li><a class="active" href="/">In Tune</a></li>
        <li><a href="/tips">Methods</a></li>
        <li><a href="/saved">Saved</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/gifs">Gifs</a></li>
      </ul>
    </div>
      <p> Your tips have been saved! </p>
  </body>
</html>
