<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <meta charset="utf-8">
    <title>In Tune - Methods</title>
    <link rel="stylesheet" href="style/main.css">
  </head>

  <body onload="document.body.style.opacity='1'" style="opacity:0">

<div>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/tips">Methods</a></li>
      <li><a href="#saved">Saved</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/gifs">Gifs</a></li>
    </ul>
</div>

    <center><h1>In Tune</h1></center>

<ul>
  <li>Meditate</li>
    <ul>
      <li>Meditation will make you more resilient to stress.</li>
      <li>Sit up straight with both feet on the floor, close your eyes, focus your attention on reciting -- out loud or silently -- a positive mantra. You may say “I feel at peach” or “I love myself”. Then, place one hand on your belly to sync the mantra with your breaths, let any distracting thoughts float by like clouds.
    </ul>
  <li>Breath Deeply</li>
    <ul>
      <li>Counters the effects of stress by slowing your heart rate and lowering blood pressure.</li>
      <li>Focus on your breathing. Sit up straight with your eyes closed, hand on belly. Slowly inhale through your nose, feeling the breath start low and work its way up to your head. Reverse the process as you exhale through your mouth.</li>
    </ul>
  <li>Be Present</li>
    <ul>
      <li>Slow down. Take five minutes out of your day to focus on only one behaview with awareness. Notice how the air feels on your face when you're walking and how your feet feel when they hit the ground. Feel the texture and taste of food if you're eating, focusing on each of your senses. You should feel less tense after this.</li>
    </ul>
  <li>Reach out</li>
    <ul>
      <li>Talk to others, face to face or on the phone if you have to. Share what's going on in your head with that person or people.</li>
    </ul>
  <li>Tune In To Your Body</li>
    <ul>
      <li>Mentally scan your body and see how stress affects it. Lie on your back, sitting with your feet on the floor. Start at your toes, working your way up and notice how you feel. For 1-2 minutes, imagine each deep breath flowing to that body part. Repeat as you focus on different parts of your body.</li>
    </ul>
  <li>Decompress</li>
    <ul>
      <li>Place a warm heat wrap around your neck and shoulders for 10 minutes. Close your eyes and relax your body. After the 10 minutes are over, remove the wrap and use a tennis ball or roller to massage the tension.</li>
    </ul>
  <li>Laugh Out Loud</li>
    <ul>
      <li>Just laugh out loud! It lowers cortisol and boosts endorphins, helping your mood.</li>
      <li>If you cannot on command, watch your favorite show or video, anything that makes you happy.</li>
    </ul>
  <li>Listen to Music</li>
    <ul>
      <li>Listening to music can lower blood pressure, heart rate, and anxiety.</li>
      <li>Create a playlist of nature sounds and focus on the different parts of the piece.</li>
      <li>If you are not into nature sounds, listen to more upbeat songs and sing at the top of your lungs!</li>
    </ul>
  <li>Get Moving</li>
    <ul>
      <li>All forms of exercise can ease depression and anxiety by helping the brain release feel-good chemicals and by giving your body a chance to practice dealing with stress.</li>
      <li>Taking a quick walk, going up and down stairs, or stretching exercises are all ways to get moving!</li>
    </ul>
  <li>Be Grateful</li>
    <ul>
      <li>Keep a couple gratitude journals to help you remember all the good things in your life. Use it to savor good experiences by writing them down. You can also put down accomplishments (really anything that puts a smile on your face). Spend a few minutes looking through your notes to remind yourself what really matters.</li>
      <li>Gratitude journals cancel out negative thoughts and worries.</li>
    </ul>
  <li>Five Senses Method</li>
    <ul>
      <li>Take time to look at 5 things around you. It could be a table or a chair or a leaf, but take time to really look at it. Then listen to 4 things you can hear. Then feel 3 things you can touch. Do this for all of your five senses or as many as you need to, until you feel calm and relaxed.</li>
    </ul>
</ul>



  </body>
  </html>
