<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Quicksand|Raleway" rel="stylesheet">
    <meta charset="utf-8">
    <title>In Tune - Methods</title>
    <link rel="stylesheet" href="style/main.css">
  </head>

  <body onload="document.body.style.opacity='1'"
  style="opacity:0">

    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/tips">Methods</a>
      <li><a href="#saved">Saved</a>
      <li><a href="/contact">Contact</a>
      <li><a href="/music">Music</a>
      <li><a href="#calm">Calm</a>
      <li><a href="/gifs">Gifs</a>
    </ul>
        <right><button class="button">Login</button></right>
        <br/>
         <input class="search"/><br/>
    <center><h1>In Tune</h1></center>

    <center>

      <div id="tips">
        <h2>tip 1</h2>
      </div>
      <div id="tips">
        <h2>tip 2</h2>
      </div>

    </center>

  </body>
  </html>
